@use '../variables' as *;

// Admin Dashboard Specific Styles
.admin-layout {

    // Admin might use a darker, authoritative theme or similar to vendor but distinct
    .sidebar {
        background-color: $brand-dark; // Using Cyprus for consistency
    }

    .approval-badge {
        color: $color-success;
        background-color: rgba($color-success, 0.1);
    }
}